<%- include('partials/header') -%>

<h3>Edit</h3>
<form action="/update" method="POST">
    <div class="form-group">
        <label for="title">Title</label>
        <input class="form-control" id="title" type="text" name="postTitle" value="<%=post.title%>" autocomplete="off">
        <label for=" post">Post</label>
        <textarea class="form-control" id="post" type="textarea" name="postBody" rows="5"
            cols=30><%=post.content%></textarea>
    </div>
    <button class=" btn btn-primary" type="submit" name="button">Update</button>
    <input type="hidden" name="postId" value="<%=post._id%>">
    <button class=" btn btn-primary" onclick="goBack()" name="button">Cancel</button>
</form>
<br>
<h4> <strong>Comments </strong>(<%= post.comments.length%>) </h4>
<%post.comments.forEach((comment)=>{%>
<hr>
<h4><%= comment.name %></h4>
<h6><%= comment.date%></h6>
<p><i><%= comment.comment %></i></p>
<form action="/deleteComment" method="POST">
    <button class=" btn btn-primary" type="submit" name="post" value="<%=JSON.stringify(post)%>">Delete</button>
    <input type="hidden" name="commentId" value="<%=comment._id%>">
</form>
<% })%>
<br>
<% if(post.comments.length !== 0){%>
<button class=" btn btn-primary" onclick="goBack()" name="button">Cancel & Go Back</button>
<%}%>



<%- include('partials/footer') -%>