<%- include('partials/header') -%>
<div class="profile">

    <h3>Welcome to my Blog! Have fun!</h3>
    <img class="dp" src="/photo/Safnas.jpeg" alt="">
</div>
</p>Posts : <strong><%=posts.length%></strong>
<br><br>

<% posts.forEach((post)=>{%>
<div class="card">
    <div class="card-body">
        <h3 class="card-title"><%= post.title %></h3>
        <h6 class="card-subtitle">Posted on: <%= post.date%></h6>
        <br>
        <p class="card-text" class="content"><%= post.content.substring(0,30) +"..."%><a
                href="/posts/<%=post.title%>">Read More</a></p>
        <div class="social">
            <p class="social-item"><img src="/icons/like.svg" width="18" /></p>
            <p class="social-item"><strong><%= post.likes%></strong></p>
            <p class="social-item">Comments : <strong><%= post.comments.length%></strong></p>
        </div>
    </div>
</div>
<br>
<% }) %>

<%- include('partials/footer') -%>