<%- include('partials/header') -%>

<h3>Edit/Remove</h3>
</p>Posts : <strong><%=posts.length%></strong>
<br><br>
<a href="/manage">
    Go back to Manage Posts</a>
<br><br>
<% posts.forEach((post)=>{%>

<div class="card">
    <div class="card-body">
        <h3 class="card-title"><%= post.title %></h3>
        <h6 class="card-subtitle">posted on: <%= post.date%></h6>
        <br>
        <p class="card-text" class="content"><%= post.content.substring(0,30) +"..."%></p>
        <div class="social">
            <p class="social-item"><img src="/icons/like.svg" width="18" /> <strong><%= post.likes%></strong></p>
            <p class="social-item">Comments : <strong><%= post.comments.length%></strong></p>
        </div>
        <div class="social">
            <form action="/edit" method="POST">
                <button type="submit" class="btn btn-primary" name="post"
                    value="<%=JSON.stringify(post)%>">edit</button>
            </form>
            &ensp;
            <form action="/delete" method="POST">
                <button type="submit" class="btn btn-primary" name="postId" value="<%=post._id%>">delete</button>
            </form>
        </div>
    </div>
</div>
<br>
<% }) %>


<a href="/manage">
    Go back to Manage Posts</a>

<%- include('partials/footer') -%>