<%- include('partials/header') -%>

<h2 class="post-title"><%= post.title %></h2>
<h5>posted on: <%= post.date%></h5>
<hr>
<p class="content"><%= post.content %></p>
<hr>
<div class="social">
    <form action="/like" method="POST">

        <button class="like" type="submit" name="likes" value="<%=post.likes%>"><img class="like-button"
                src="/icons/like.svg" width="18" /></button>
        <input type="hidden" name="title" value="<%=post.title%>">
    </form>
    <h5 class="social-item"><strong><%= post.likes%></strong></h5>
</div>
<div class="social">

    <h5 class="social-item">Share to: </h5>
    <div class="social-item" id="sharelinks">

        <a onclick="buildURI(this)" href="https://www.facebook.com/sharer/sharer.php?u=" class="sharelink"
            target="_blank" title="Facebook"><img src="/icons/002-facebook.svg" width="18" /></a>
        <a onclick="buildURI(this)" href="https://wa.me/?text=" class="sharelink" target="_blank" title="WhatsApp"><img
                src="/icons/006-whatsapp.svg" width="18"></a>
        <a onclick="buildURI(this)" href="mailto:?" class="sharelink" target="_blank" title="Mail"><img
                src="/icons/envelope.svg" width="18"></a>
    </div>
</div>

<%- include('partials/footer') -%>